@import url(https://fonts.googleapis.com/css?family=Martel:900|BenchNine:400,300,700);

@media (max-width: 320px){

html {
  background-color: white;
}

body {
  font-family: "BenchNine", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 2px;
  margin: 5px;
}


header h2 {
  font-family: 'BenchNine', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

#wrapper {
  margin: 0px auto;
  max-width: 320px;
}

h1 {
  font-family: 'Martel', serif;
  font-weight: 900;
  color: black;
  font-size: 80px;
  text-align: center;
  padding: 2px;
  margin: -30px 10px -50px 10px;
}

h2 {
  display: none;
}

h3 {
  display: none;
}

p {
  display: none;
}

nav ul {
  display: none;
}

nav li {
  display: none;
}

nav a {
  display: none;
}

section {
  display: none;
}

article {
  display: none;
}

address {
  display: none;
}

#mobile {
  text-align: center;
  font-style: normal;
  padding-left: 2px;
  padding-left: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

#writing {
  display: none;
}

}
